.hello {
  color: green;
}

#header {
  // position: fixed;
  // width: 100%;
  height: 80px;
  background-color: gray;
  // top: 0;
  // left: 0;
}

#sidebar {
  background:#111;
  height:100%;
  top:0;
  bottom:0;
}

#app-body {
  padding-top: 80px;
}

.myInput {
  display: block;
}

.grow {
    flex: 1;
}

.main {
    overflow-y: auto;
}

.layout {
  margin: 0;
  width: 100% !important;
  height: 100% !important;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  // background: rgba(51,51,51,0.7);
  z-index: 10;
}

.block {
  display: block;
}
