$header-height: 85px;

#header {
  height: $header-height;
  background-color: #505050;
  text-align: center;
}

#sidebar {
  background:#111;
  height:100%;
  top:0;
  bottom:0;
}

#user-table {
  td:nth-child(5), td:nth-child(6), th{
    text-align: center;
  }

  td {
    width: 16.6%;
    height: 65px;
  }

  input {
    width: 100%;
  }

  button {
    width: 85px;
    cursor: pointer;
  }
}

#spreadsheet-table {
  table-layout: fixed;

  th, td {
    text-align: center;
    vertical-align: middle;
  }

  td>form {
    display: inline-block;
  }

  tr, td {
    height: 65px;
  }

  .row-number, th {
    width: 30px;
  }
}

.delete-button { opacity: 0; }

.table-cell:hover {
  .delete-button {
    opacity: 1;
  }
}


.main {
    overflow-y: auto;
    height: calc(100% - #{$header-height});
}

.grow {
    flex: 1;
}

.layout {
  margin: 0;
  width: 100% !important;
  height: 100% !important;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}

.touch {
  cursor: pointer;
}

.box {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.mw-250 { max-width: 250px; }
.mw-400 { max-width: 400px; }
